* {
font-size: 20px;
color: white;
}

header {
    text-align: center;
}

body {
    background-color: black;
}
.title {
    border-bottom: 2px solid white;
    text-align: center;
}

.link {
    display: inline-block;
   }

.image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
}

.image li {
    display: inline-block;
}

a {
    color: rgb(5, 152, 172);
    text-shadow: 1px 1px 10px;
    text-decoration: none;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}

a:hover {
    color: red;
}